  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
  }

  header {
    background: linear-gradient(90deg, #8b92f1, #6e33db);
    padding: 40px 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  }

  h3 {
    margin: 0;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
  }

  .main_block {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }

  .main_block:hover {
    transform: translateY(-5px);
  }

  .second_block {
    max-width: 900px;
    height: 350px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  footer {
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 15px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1em;
  }

  .img_logo {
    position: fixed;    /* фиксирует элемент относительно окна браузера */
    top: 20px;          /* отступ сверху */
    left: 20px;        /* отступ справа */
    z-index: 999;
  }

  .img_logo img {
    width: 100px;       /* задайте нужный размер */
    height: auto;        /* сохраняет пропорции */
}

.inp {
    width: 100%;
    max-width: 400px;
    padding: 15px 0;
    font-size: 16px;
    color: #333;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ff0000;
    transition: border-color 0.3s;
}

